:root {
    --ss-poppins: "Poppins", sans-serif;
    --ss-josefin: "Josefin Sans", sans-serif;
    --ss-font500: 500;
    --ss-font600: 600;
    --ss-font700: 700;
    --ss-font800: 800;
    --ss-fontbold: bold;
    --ss-primary: #C7D500;
    --ss-secondary: #1b1b1b;
  }

  $bg-primary-color:#C7D500;

  // background: linear-gradient(to bottom, #ff5a61 0%, #ff767b 100%);
